#nav {
   margin:10px;
   padding:0;
   background:#50687f 0 0 repeat-x; /*fin de barre nav*/
   float:left;
   width:98%;
   border:1px solid #0b1c00;
   border-width:1px 0;
}
 
#nav li {
   display:inline;
   padding:0;
   margin:0;
}


#nav a:link, #nav a:visited {
   color:#000;
   background:#50687f; /*bouttons barre nav*/
   padding:20px 40px 4px 10px;
   float:left;
   width:auto;
   border-right:1px solid #42432d;
   text-decoration:none;
   font:bold 1em/1em Arial, Helvetica, sans-serif;
   text-transform:uppercase;
   text-shadow: 2px 2px 2px #555;
}

#nav li:first-child a {
   border-left:1px solid #42432d;
}


#nav a:hover {
   color:#fff;
   background:#28343f; /*bouttons mode clic*/
}


#home #nav-home a, #about #nav-about a, #archive #nav-archive a, #lab #nav-lab a, 
#reviews #nav-reviews a, #contact #nav-contact a {
  background:#e35a00; /*pas touche*/
  color:#fff;
  text-shadow:none;
}
 
#home #nav-home a:hover, #about #nav-about a:hover, #archive #nav-archive a:hover, 
#lab #nav-lab a:hover, #reviews #nav-reviews a:hover, #contact #nav-contact a:hover {
  background:#e35a00; /*pas touche*/
}
 
#nav a:active {
   background:#e35a00; /*pas touche*/
   color:#fff;
}

body {
    background-color: #779bbe; /* fond d'ecran */
    color: white; /* Le texte de la page sera blanc */
}

#tab {
   background: #50687f;
   color: black;
   margin-left: 20%;
}

#tab2 {
   background: #50687f;
   color: black;
   margin-left: 25px;
}