/* /////////////////Main page ////////////////*/

.lien {
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4EB7A9;
}

body {
	margin :0;
}


.select {
	border: 1px solid #ccc;
	width:170px;
	height:45px;
	border-radius: 3px;
	overflow: hidden;
	background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #4CAF50;
}

.active {
	background-color: #4CAF50;
}

ul {
	position: fixed;
	top: 0;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
	background-color: #4CAF50;
	color: white;
}

.stock {
	width:100px;
}

.panier {
	margin-left: 44%;
	margin-top:-15%;
}

.perso {
	width: 10%;
	background-color: #4CAF50;
	color: white;
	border-radius: 4px;
	cursor: pointer;

}
/*/////////////   Connection/Creation page ///////////////////*/


.connection {
	width: 10%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.connection_custom 	{
	width: 10%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin-left: 45%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.connection_custom2 {
	width: 10%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin-top:-1%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modification {
	width: 10%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin-left:-1%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modification_custom {
	width: 10%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin-left:45%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modification2 {
	width: 7%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin-left:46%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modification3 {
	width: 18%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.connection:hover {
	background-color: #45a049;
}


.connection_text {
	width: 19%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=number] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	-moz-appearance: textfield;
  	appearance: textfield;
}

select {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.right {
	background-color: #4CAF50;
	color: white;
	padding: 7px 5px;
	margin-left: 80%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.test {
  margin-top : -2%;
  margin-left: 88%;

}

.change {
  background-color: #4CAF50;
  color: white;
  padding: 7px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.account {
	border-radius: 5px;
	padding: 20px;
	margin-top :-50px;
}

.button {
	background-color: #4CAF50;
	color: white;
	padding: 7px 5px;
	margin: 8px 10;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button2 {
	width: 20%;
	background-color: #4CAF50;
	color: white;
	padding: 7px 5px;
	margin: -30px 10;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button3 {
	background-color: #a5a5a5;
	color: white;
	padding: 7px 5px;
	margin: 8px 10;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.image {
	width:400px;
	height:400px;
}

.lien {
	color:blue;
}

.image2 {
	width:200px;
	height:200px;
}

.image_modif {
	width:300px;
	height:300px;
	margin-top : 2%;
}

.align_modif {
	margin-top: 10%;
}

.alert {
	width:200px;
	height:20px;
	margin-top:-30px;
	padding: 10px;
	background-color: #f44336;
	color: white;
}

.alert2 {
	width:300px;
	height:30px;
	margin-top:-410px;
	margin-left:10px;
	padding: 10px;
	background-color: #f44336;
	color: white;
}

.alert3 {
	width:200px;
	padding: 7px 5px;
	margin: -30px 10;
	background-color: #f44336;
	color: white;
	border: none;
	border-radius: 4px;
}

.valide {
	width:200px;
	padding: 7px 5px;
	background-color: green;
	margin-left : 43%;
	color: white;
	text-align:center;
	border: none;
	border-radius: 4px;
}

.valide2 {
	width:200px;
	padding: 7px 5px;
	background-color: green;
	color: white;
	text-align:center;
	border: none;
	border-radius: 4px;
}

.error {
	width:200px;
	padding: 7px 5px;
	background-color: #f44336;
	margin-left : 43%;
	color: white;
	text-align:center;
	border: none;
	border-radius: 4px;
}

.text_p {
	color: #0a6d02;
	font-style: italic;
	font-family: "Comic Sans MS";
}

.text_p2 {
	color: #b93200;
	font-style: italic;
	font-family: "Comic Sans MS";
}

.text_p3 {
	color: gray;
	font-size: 14px;
	font-style: italic;
}

/* /////////////////////// Detailed page of the article //////////////////// */


.categorie {
	margin-top:-6%;
	margin-left:-92%;
}

.sous_categorie {
	margin-top:-1.2%;
	margin-left:-70%;
}

.nom_article {
	margin-top:8%;
	margin-left:55%;
	font-size:20px;
}

.prix {
	margin-left:65%;
	margin-top:8%;
	color : red;
}

.image_custom {
	width: 250px;
	height: 250px;
}

.quantite {
	margin-left:38%;
	font-size:13px;
}


.description {
	margin-top:30%;
}



.zoom {
width: 320px;
height: 240px;
}

.image_article {
margin-left:-40%;
margin-top:-170%;
}

.image_article img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.image_article:hover img {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}



